<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" width="48px" height="48px" src="img/shubham.jpg" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Shubham Tulshyan</strong>
                             </span> <span class="text-muted text-xs block">Business Head - Apparel, FieldAssist <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="profile">Profile</a></li>
                            <li><a href="contacts">Contacts</a></li>
                            <li><a href="mailbox">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><a href="login">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li class="{{isActivePath regex='autocomplete|markdown|productmaster|abcdataupload'}}">
                    <a href="#"><i class="fa fa-cloud-upload"></i> <span class="nav-label" data-i18n="nav.forms">Data Uploads</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse {{isActivePath regex='autocomplete|markdown|productmaster|abcdataupload' className='in'}}">
                        <li class="{{isActivePath regex='/abcdataupload'}}"><a href="abcdataupload">Products</a></li>
                        <li class="{{isActivePath regex='/productmaster'}}"><a href="productmaster">Product Master</a></li>
                    </ul>
                </li>
                <li class="{{isActivePath regex='autocomplete|markdown|abc_dashboard'}}">
                    <a href="#"><i class="fa fa-file"></i> <span class="nav-label" data-i18n="nav.forms">Reports</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse {{isActivePath regex='autocomplete|markdown|abc_dashboard' className='in'}}">
                        <li class="{{isActivePath regex='/abc_dashboard'}}"><a href="abc_dashboard">Dashboard</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</template>
